---
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
export interface Props {
	title: string;
	isNoFooter?: boolean;
}

const { title, isNoFooter = false } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<HeadHrefLangs />
	</head>
	<body>
		<slot />
		{!isNoFooter && (<footer>Built with 💙 by <a href="https://github.com/letier3110">letier</a></footer>)}
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f0f0f0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	footer {
		margin-top: 56px;
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
			text-align: center;
	}
	footer a {
		line-height: 1.4;
		border-radius: 0.35rem;
		color: #111;
		opacity: 0.8;
	}
</style>
